@page "/"
@page "/search/{SearchTerm}/{page:int}"
@page "/{CategoryUrl}"

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@inject IProductUIService ProductUIService

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    @if (SearchTerm is null && CategoryUrl is null)
    {
        <FeaturedProducts />
    }
    else
    {
        <ProductList />
    }
</div>
