@page "/login"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))

@inject IAuthUIService AuthUIService
@inject ICartUIService CartUIService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Login</PageTitle>

<div class="container mt-5">
    <h3>Login</h3>

    <EditForm Model="user" OnValidSubmit="HandleLogin" FormName="Login">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="user.Email" class="form-control" />
            <ValidationMessage For="@(() => user.Email)" />
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="user.Password" class="form-control" type="password" />
            <ValidationMessage For="@(() => user.Password)" />
        </div>
        <MudText Class="mb-2">Forgot your password?&nbsp;<MudLink Style="font-weight:bold;" Href="/forgot-password">reset here..</MudLink></MudText>
        <button type="submit" class="btn btn-primary mb-2">Login</button>
    </EditForm>
    <div class="text-danger">
        <span>@errorMessage</span>
    </div>
</div>
