.wrapper {
    display: flex;
    padding: 6px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 6px;
    margin-bottom: 10px;
}

.image-wrapper {
    width: 150px;
    text-align: center;
}

.image {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
    border-radius: 5px;
}

.details {
    flex-grow: 1;
    padding: 6px;
}

.order-price {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: right;
    color: limegreen;
    text-shadow: 1px 1px 2px black;
}

.show-more {
    text-decoration: none;
}