@page "/account/forgotpassword"
@layout ShopLayout

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Forgot your password?</PageTitle>

<div class="d-flex justify-content-center mt-5">
    <section class="w-25 p-3">
        <EditForm Model="Form" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <h1>Forgot your password?</h1>
            <p>Enter your email.</p>

            <hr />

            <div class="form-floating mb-3">
                <InputText @bind-Value="Form.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="email" class="form-label">Email</label>
                <ValidationMessage For="() => Form.Email" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset password</button>
            <p class="mb-5 mt-2">
                Please submit your email in this form, and we will reach out with
                instructions on how you can have your password reset.
            </p>
            <StatusMessage Message="@statusMessage" IsError="false" />
        </EditForm>
     </section>
</div>
