@page "/account/login"
@layout ShopLayout

@inject ILogger<Login> Logger
@inject IEmailSender<ApplicationUser> EmailSender
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager
@inject NavigationManager NavigationManager

<PageTitle>Log in</PageTitle>

<div class="d-flex justify-content-center mt-5">
    <section class="w-25 p-3">
        <EditForm Model="Form" method="post" OnValidSubmit="LoginUserAsync" FormName="login">
            <DataAnnotationsValidator />
            <h2>Log in</h2>
            <hr />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Form!.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="email" class="form-label">Email</label>
                <ValidationMessage For="() => Form.Email" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Form.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label for="password" class="form-label">Password</label>
                <ValidationMessage For="() => Form.Password" class="text-danger" />
            </div>
            <div class="checkbox mb-3">
                <label class="form-label">
                    <InputCheckbox @bind-Value="Form.RememberMe" class="darker-border-checkbox form-check-input" />
                    Remember me
                </label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
        </EditForm>
        <div>
            <p>
                <a href="account/register">Not yet registered?</a>
            </p>
            <p class="mb-5 mt-2">
                <a href="account/forgotpassword">Forgot your password?</a>
            </p>
            <StatusMessage Message="@statusMessage" IsError="true" />
        </div>
    </section>
    <section class="w-25 p-3">
        <h2>Or..</h2>
        <hr />
        <ExternalLoginPicker />
    </section>
</div>
