@page "/account/resetpassword"
@layout ShopLayout

@inject IdentityRedirectManager RedirectManager
@inject UserManager<ApplicationUser> UserManager

<PageTitle>Reset password</PageTitle>

<div class="d-flex justify-content-center mt-5">
    <section class="w-25 p-3">
        <h1>Reset password</h1>
        <p>Reset your password.</p>

        <hr />

        <EditForm Model="Form" FormName="reset-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <input type="hidden" name="Input.Code" value="@Form.Code" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Form.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="email" class="form-label">Email</label>
                <ValidationMessage For="() => Form.Email" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Form.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label for="password" class="form-label">Password</label>
                <ValidationMessage For="() => Form.Password" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Form.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label for="confirm-password" class="form-label">Confirm password</label>
                <ValidationMessage For="() => Form.ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
            <p class="mb-5 mt-2">
                Please enter your email along with your new password.
            </p>
            @if (ResetSuccessful is true) 
            {
                <div class="alert alert-success" role="alert">
                    Your password has been reset. Please <a href="account/login">click here to log in</a>.
                </div>
            }
            else if (ResetSuccessful is false)
            {
                <StatusMessage Message="@Message" IsError="true" />
            }
        </EditForm>
    </section>
</div>
