@page "/account/resetpasswordconfirmation"
@layout ShopLayout

<PageTitle>Reset password confirmation</PageTitle>

<h1>Reset password confirmation</h1>

<div class="d-flex justify-content-center mt-5">
    <section class="w-25 p-3">
        <p>
            Your password has been reset. Please <a href="account/login">click here to log in</a>.
        </p>
    </section>
</div>
