@page "/admin/product"
@page "/admin/product/{id:int}"
@inject NavigationManager NavigationManager
@inject IProductService ProductService
@inject IProductTypeService ProductTypeService
@inject ICategoryService CategoryService

<h3>EditProduct</h3>

@code {

}