@page "/"
@page "/search/{SearchTerm}/{page:int}"
@page "/{CategoryUrl}"
@inject IProductService ProductService

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    @if (SearchTerm is null && CategoryUrl is null)
    {
        <FeaturedProducts />
    }
    else
    {
        <ProductList />
    }
</div>

@code {
    [Parameter]
    public string? CategoryUrl { get; set; }

    [Parameter]
    public string? SearchTerm { get; set; } = null;

    [Parameter]
    public int Page { get; set; } = 1;

    protected override async Task OnParametersSetAsync()
    {
        if (SearchTerm is not null)
            await ProductService.SearchProducts(SearchTerm, Page);
        else if (CategoryUrl is not null)
            await ProductService.GetProducts(CategoryUrl);
    }
}