@inject NavigationManager NavigationManager

<style>
    .home-button {
        font-size: 18px;
        white-space: nowrap;
        margin-right: 10px;
        transform: rotate(-3deg);
    }
</style>

<a href=""
    class="btn home-button">
    Blazor Ecommerce
</a>
