@page "/profile"
@attribute [Authorize]

@inject IAuthUIService AuthUIService

<PageTitle>Your profile</PageTitle>

<div class="container mt-5">
    <AuthorizeView>
        <h3>Hi! You're logged in with @context.User.Identity!.Name</h3>
    </AuthorizeView>

    <h5>Delivery Address</h5>
    <AddressForm />
</div>
