.media-img {
    height: 100%;
    max-width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform 0.2s;
    object-fit: cover;

    &:hover {
        transform: scale(1.2);
    }
}

.media-img-wrapper {
    height: 500px;
    width: 200px;
    text-align: center;
}

.page-selection {
    margin-right: 15px;
    margin-bottom: 30px;
}

@media (max-width: 1023.98px) {
    .media {
        flex-direction: column;
    }

    .media {
        flex-direction: column;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}